* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: system-ui;
  height: 100%;
}

button {
  border: none;
  background-color: unset;
  padding: unset;
  color: #6a6a6a;
}

button:disabled {
  opacity: 0.5;
}
